<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bet on the game</title>
</head>
<body>
    <h1>Bet on the game</h1>
    <p th:text="${homeTeam}"></p>
    <p th:text="${awayTeam}"></p>
    <form action="/betPOST" method="post" th:object="${bet}">
        <p>Selected Team: </p>
        <select th:field="*{selectedTeam}">
            <option th:value="'1'" th:text="${homeTeam}"></option>
            <option th:value="'X'" th:text="X"></option>
            <option th:value="'2'" th:text="${awayTeam}"></option>
        </select> <br>
        <label for="amount">Amount:</label> <br>
        <input type="number" id="amount" th:field="*{amount}"/> <br>
        <button type="submit">Place Bet</button>
        <p th:text="'Multiplier 1: ' + ${bet.multiplier1}"></p>
        <p th:text="'Multiplier X: ' + ${bet.multiplierX}"></p>
        <p th:text="'Multiplier 2: ' + ${bet.multiplier2}"></p>
    </form>
    <a th:href="@{/gameslist}">Back to games</a>
</body>
</html>