<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bets</title>
</head>
<body>

    <div th:switch="${bets}">
        <h2 th:case="null">No Bets yet!</h2>
        <div th:case="*">
            <h2>Your Bets</h2>
            <table>
                <thead>
                <tr>
                    <th>Game ID</th>
                    <th>Selected Team</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bet : ${bets}">
                    <td th:text="${bet.gameId}"></td>
                    <td th:text="${bet.selectedTeam}"></td>
                    <td th:text="${bet.amount}"></td>
                    <td><a th:href="@{/modifyBet/{id}(id=${bet.id})}">Modify</a></td>
                    <td><a th:href="@{/deleteBet/{id}(id=${bet.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a th:href="@{/}">Go back!</a></p>
    </div>
</body>
</html>