<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bets</title>
</head>
<body>

    <div th:switch="${games}">
        <h2 th:case="null">No Bets yet!</h2>
        <div th:case="*">
            <h2>Games</h2>
            <table>
                <thead>
                <tr>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Has Elapsed</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="game : ${games}">
                    <td th:text="${game.homeTeam}"></td>
                    <td th:text="${game.awayTeam}"></td>
                    <td th:text="${game.hasElapsed}"></td>
                    <td><a th:href="@{/delete/{id}(id=${game.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/addbook">Add a new book</a></p>
    </div>
</body>
</html>