<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:switch="${games}">
        <h2 th:case="null">No Games yet!</h2>
        <div th:case="*">
            <h2>Games</h2>
            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <td>&nbsp;&nbsp;
                    <th>Time</th>
                    <td>&nbsp;&nbsp;
                    <th>Home Team</th>
                    <td>&nbsp;&nbsp;
                    <th></th>
                    <td>&nbsp;&nbsp;
                    <th></th>
                    <td>&nbsp;&nbsp;
                    <th>Away Team</th>
                    <td>&nbsp;&nbsp;
                </tr>
                </thead>
                <tbody>
                <tr th:each="game : ${games}">
                    <td th:text="${game.dateStr}" style="color: grey;"></td>
                    <td>&nbsp;&nbsp;
                    <td th:text="${game.timeStr}" style="color: grey;"></td>
                    <td>&nbsp;&nbsp;
                    <td th:text="${game.homeTeam}" th:style="'color: ' + (${game.hasStarted} ? (${game.hasFinished} ? 'red' : 'green') : 'black')"></td>
                    <td>&nbsp;&nbsp;
                    <td th:if="${game.hasStarted}==true" th:text="${game.homeTeamScore}" th:style="'color: ' + (${game.hasStarted} ? (${game.hasFinished} ? 'red' : 'green') : 'black')"></td>
                    <td th:unless="${game.hasStarted}==true" th:style="'color: ' + (${game.hasStarted} ? (${game.hasFinished} ? 'red' : 'green') : 'black')"></td>
                    <td>&nbsp;&nbsp;
                    <td th:if="${game.hasStarted}==true" th:text="${game.awayTeamScore}" th:style="'color: ' + (${game.hasStarted} ? (${game.hasFinished} ? 'red' : 'green') : 'black')"></td>
                    <td th:unless="${game.hasStarted}==true" th:style="'color: ' + (${game.hasStarted} ? (${game.hasFinished} ? 'red' : 'green') : 'black')"></td>
                    <td>&nbsp;&nbsp;
                    <td th:text="${game.awayTeam}" th:style="'color: ' + (${game.hasStarted} ? (${game.hasFinished} ? 'red' : 'green') : 'black')"></td>
                    <td>&nbsp;&nbsp;
                    <td>
                        <a th:if="${userRole} == false" th:href="@{/makeormodify/{id}(id=${game.id})}" th:unless="${game.hasStarted}">Bet</a>
                    </td>
                    <td>&nbsp;&nbsp;
                    <td>
                        <a th:if="${userRole} == true" th:href="@{/editGame/{id}(id=${game.id})}">Edit</a>
                    </td>
                    <td>&nbsp;&nbsp;
                </tr>
                </tbody>
            </table>
        </div>
        <p><a th:href="@{/}">Go back!</a></p>
    </div>
</body>
</html>