<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>Log into your account</h2>
    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
        <input type="text" name="username" id="username" th:field="*{username}">
        <input type="text" name="password" id="password" th:value="*{password}">
        <input type="submit" value="Login">
    </form>
        <a th:href="@{/signup}">Don't have an account, sign up here.</a>  
</body>
</html>