<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>
    <h3>Logged in as user:</h3>
    <p th:text="${LoggedInUsername}"></p>
    <a th:href="@{/gameslist}">View Games</a><br>
    <a th:href="@{/betslist}">Bets</a><br>
    <div th:switch="${userRole}"> 
        <a th:case="false" th:href="@{/funds}">Funds</p>
        <p th:case="true"></p>
    </div><br>
    <div th:switch="${userRole}"> 
        <a th:case="true" th:href="@{/usersList}">Users</p>
        <p th:case="false"></p>
    </div><br>
    <a th:href="@{/logout}">Log Out</a><br>
    <div th:switch="${userRole}"> 
        <p th:case="true"></p>
        <a th:case="false" th:href="@{/deleteUser}">Delete User</p>
    </div><br>
</body>
</html>