<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

    <div th:switch="${users}">
        <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <h2>Users</h2>
            <table>
                <thead>
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.password}"></td>
                    <td><a th:if="${user.isAdmin}==false" th:href="@{/deleteUser/{id}(id=${user.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a th:href="@{/}">Go back!</a></p>
    </div>
</body>
</html>